@page "/"

<div class="column-layout buttons-container">
    <div class="row-layout group">
        <div class="row-layout group_1">
            <IgbButton class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Dropdown?.Toggle(Button))" @ref="Button" class="button" buttons-scope>
                <span>With dropdown</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="Dropdown" class="dropdown" buttons-scope>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
        <div class="row-layout group_2">
            <IgbList class="list" buttons-scope>
                <IgbListItem>
                    <div slot="start">
                        <IgbAvatar Shape="AvatarShape.Circle" class="avatar" buttons-scope>
                            <span class="material-icons">person</span>
                        </IgbAvatar>
                    </div>
                    <div slot="title">Title goes here</div>
                    <div slot="subtitle">Subtitle...</div>
                    <div>
                        <IgbButton class="button_1" buttons-scope>
                            Button
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                    <div slot="end">
                        <span class="material-icons icon">
                            star
                        </span>
                    </div>
                </IgbListItem>
            </IgbList>
            <IgbCard Outlined="true" class="card" buttons-scope>
                <IgbCardHeader>
                    <h3 slot="title">
                        Card Title
                    </h3>
                    <h5 slot="subtitle">
                        This is the card subtitle
                    </h5>
                </IgbCardHeader>
                <IgbCardContent class="body-content" buttons-scope>
                    <div class="column-layout group_3">
                        <IgbButton class="button_1" buttons-scope>
                            Button IN CONTENT
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Outlined" class="button_1" buttons-scope>
                            BUTTON IN CONTENT
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </IgbCardContent>
                <IgbCardActions class="actions-content" buttons-scope>
                    <IgbButton Variant="ButtonVariant.Outlined" class="button_1" buttons-scope>
                        Button
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" buttons-scope>
                        <span class="material-icons">
                            favorite
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" buttons-scope>
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbButton class="button_1" buttons-scope>
                        Button
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </IgbCardActions>
            </IgbCard>
            <div class="column-layout group_3">
                <IgbButton class="button_1" buttons-scope>
                    Default dialog
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbButton class="button_1" buttons-scope>
                    Custom Dialog
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
        </div>
    </div>
    <div class="column-layout group_4">
        <h6 class="content">
            ISSUES
        </h6>
        <div class="row-layout group_5">
            <p class="typography__subtitle-1 content">
                When a button with RAISED or FLAT type has the icon switched turned on, it grows 2px in height
            </p>
            <h6 class="content">
                REPRODUCED IN: AppBuilder Edit &amp; Preview and Angular app
            </h6>
            <IgbBadge Variant="BadgeVariant.Info" class="badge" buttons-scope>
                BUG CREATED
            </IgbBadge>
        </div>
        <div class="row-layout group_5">
            <p class="typography__subtitle-1 content">
                Button's INNER PADDING in the generated apps is lacking, so they look smaller than Angular.
            </p>
            <h6 class="content">
                REPRODUCED IN: Blazor and Web Components apps
            </h6>
        </div>
        <div class="row-layout group_5">
            <p class="typography__subtitle-1 text">
                When i change the foreground color of just ONE button, all the buttons get changed their foregrounds, except if they are part of a component.
            </p>
            <h6 class="content">
                REPRODUCED IN: Blazor and Web Components apps
            </h6>
        </div>
    </div>
    <span class="default-dialog">Dialog not yet available in Blazor</span>
    <span class="default-dialog">Dialog not yet available in Blazor</span>
</div>

@code {
    private IgbButton? Button;
    private IgbDropdown? Dropdown;
}
