@page "/"

<div class="column-layout buttons-container">
    <div class="row-layout group">
        <div @onclick="@(e => Dropdown?.Toggle(Group))" @ref="Group" class="row-layout group_1">
            <IgbButton class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                <span>With dropdown</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="Dropdown" class="dropdown" buttons-scope>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
    </div>
    <span class="default-dialog">Dialog not yet available in Blazor</span>
    <span class="default-dialog">Dialog not yet available in Blazor</span>
</div>

@code {
    private div? Group;
    private IgbDropdown? Dropdown;
}
