.column-layout {
    display: flex;
    flex-direction: column;
}
.buttons-container {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 24px;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    min-width: 50px;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.button {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.dropdown {
    min-width: min-content;
}
.button_1 {
    height: max-content;
    min-width: min-content;
}
.button::part(base) {
    color: hsla(var(--ig-success-500));
}
.dropdown::part(base) {
    height: max-content;
}
.text {
    height: max-content;
    min-width: min-content;
}
.default-dialog {
    display: none;
}
