.column-layout {
    display: flex;
    flex-direction: column;
}
.buttons-container {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_1 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 24px;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    min-width: 50px;
}
.group_3 {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 24px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.card {
    width: 320px;
    height: max-content;
    min-width: 320px;
    flex-shrink: 0;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_5 {
    background-color: hsla(var(--ig-secondary-800));
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    padding: 24px;
    min-width: 50px;
    min-height: 50px;
}
.group_6 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
}
.default-dialog {
    display: none;
}
.body-content {
    min-width: 50px;
    min-height: 50px;
}
.actions-content {
    min-width: 50px;
    min-height: 40px;
}
.text {
    height: max-content;
    min-width: min-content;
}
.avatar {
    --background: none;
}
.icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.content {
    color: hsla(var(--ig-surface-500));
    height: max-content;
    min-width: min-content;
}
.text_1 {
    color: hsla(var(--ig-surface-500));
    width: 811px;
    height: max-content;
    min-width: min-content;
}
.button {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.button_1 {
    height: max-content;
    min-width: min-content;
}
.dropdown {
    min-width: min-content;
}
.button::part(base) {
    color: hsla(var(--ig-info-500));
}
.dropdown::part(base) {
    height: max-content;
}
.list {
    height: max-content;
    flex-shrink: 0;
}
