@page "/buttons"

<div class="row-layout buttons-container">
    <div class="row-layout group">
        <div class="row-layout buttons">
            <IgbButton class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" buttons-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => Dropdown?.Toggle(Button))" @ref="Button" class="button" buttons-scope>
                <span>With dropdown</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="Dropdown" class="dropdown" buttons-scope>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
    </div>
</div>

@code {
    private IgbButton? Button;
    private IgbDropdown? Dropdown;
}
