@page "/cards-opacity"

<div class="column-layout cards-opacity-container">
    <div class="row-layout group">
        <IgbCard Outlined="true" class="card" cards-opacity-scope>
            <IgbCardHeader>
                <h3 slot="title">
                </h3>
                <h5 slot="subtitle">
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" cards-opacity-scope>
                <div class="column-layout group_1">
                    <img src="assets/Logo.svg" class="image" />
                    <p class="typography__subtitle-1 content">
                        Products
                    </p>
                    <h4 class="content">
                        1,236
                    </h4>
                    <p class="typography__subtitle-2 text">
                        Increased 75%
                    </p>
                </div>
            </IgbCardContent>
            <IgbCardActions class="actions-content" cards-opacity-scope>
                <IgbButton Variant="ButtonVariant.Outlined" class="button" cards-opacity-scope>
                    VIEW REPORT
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="true" class="card" cards-opacity-scope>
            <IgbCardHeader>
                <h3 slot="title">
                </h3>
                <h5 slot="subtitle">
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" cards-opacity-scope>
                <div class="column-layout group_1">
                    <img src="assets/Logo.svg" class="image" />
                    <p class="typography__subtitle-1 content">
                        Products
                    </p>
                    <h4 class="content">
                        1,236
                    </h4>
                    <p class="typography__subtitle-2 text">
                        Increased 75%
                    </p>
                </div>
            </IgbCardContent>
            <IgbCardActions class="actions-content" cards-opacity-scope>
                <IgbButton Variant="ButtonVariant.Outlined" class="button" cards-opacity-scope>
                    VIEW REPORT
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="true" class="card" cards-opacity-scope>
            <IgbCardHeader>
                <h3 slot="title">
                </h3>
                <h5 slot="subtitle">
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" cards-opacity-scope>
                <div class="column-layout group_1">
                    <img src="assets/Logo.svg" class="image" />
                    <p class="typography__subtitle-1 content">
                        Products
                    </p>
                    <h4 class="content">
                        1,236
                    </h4>
                    <p class="typography__subtitle-2 text">
                        Increased 75%
                    </p>
                </div>
            </IgbCardContent>
            <IgbCardActions class="actions-content" cards-opacity-scope>
                <IgbButton Variant="ButtonVariant.Outlined" class="button" cards-opacity-scope>
                    VIEW REPORT
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="true" class="card" cards-opacity-scope>
            <IgbCardHeader>
                <h3 slot="title">
                </h3>
                <h5 slot="subtitle">
                </h5>
            </IgbCardHeader>
            <IgbCardContent class="body-content" cards-opacity-scope>
                <div class="column-layout group_1">
                    <img src="assets/Logo.svg" class="image" />
                    <p class="typography__subtitle-1 content">
                        Products
                    </p>
                    <h4 class="content">
                        1,236
                    </h4>
                    <p class="typography__subtitle-2 text">
                        Increased 75%
                    </p>
                </div>
            </IgbCardContent>
            <IgbCardActions class="actions-content" cards-opacity-scope>
                <IgbButton Variant="ButtonVariant.Outlined" class="button" cards-opacity-scope>
                    VIEW REPORT
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </IgbCardActions>
        </IgbCard>
    </div>
    <div class="column-layout group_2">
        <h6 class="content_1">
            Issue REPRODUCED IN: Blazor and Web Components generated apps
        </h6>
        <div class="row-layout group_3">
            <p class="typography__subtitle-1 content_1">
                Cards have an opacity issue. They look disabled.
            </p>
            <h6 class="content_1">
                REPRODUCED IN: Blazor and WebComponents generated apps
            </h6>
        </div>
    </div>
</div>

@code {
}
